* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: $secondaryColor;
  }

  ::-webkit-scrollbar-thumb {
    background: $primaryColor;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $primaryColor;
  }
}

body {
  background: #0c101c radial-gradient(rgba(44, 46, 64, 0.4) 0%, #0c101c 50%)
    no-repeat 0 calc(-0.2 * 100vw + 100px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
  margin: 5px;
  padding: 0;
}
