$screen-sm: 640px;
$screen-md: 1280px;

$textColor: rgb(206, 190, 164);
$primaryColor: rgb(30, 30, 30);
$secondaryColor: rgb(37, 38, 53);
$accentColor: rgb(1, 120, 172);
$openColor: rgb(114, 175, 34);
